<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SoftwareEngineering_1/src/Code5_UsingStrategy_Comparator/TestComparator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Code5_UsingStrategy_Comparator.TestComparator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SoftwareEngineering_1"/>
</launchConfiguration>
